<a href="https://colab.research.google.com/github/Mohammed287-lab/ANN/blob/main/Ann_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
b = 5
sum = a+b
print("sum =", sum)

sum = 15

In [ ]:
a=10
b=5
sum=a+b
difference=a-b
product=a*b
division=a/b
print("sum=",sum)
print("difference",difference)
print("product=",product)
print("division=",division)

sum= 15
difference 5
product= 50
division= 2.0

In [ ]:
print(f"THE SUM OF two numbers{a},{b} is {sum}")

THE SUM OF two numbers10,5 is 15

In [ ]:
x=13/2
print(x)
y=13%2
print(y)

6.5
1

In [ ]:
x=10
a=5
is_greater=x>a
is_equal=x==y
is_not_equal=x!=y
print("is x greater than y?",is_greater)
print("is x equal y",is_equal)
print("is x not equal y ",is_not_equal)

name="MOHAMMED"
Age=20
is_student=True
print(f"{name}'s age is {Age}.he is student {is_student}")

is x greater than y? True
is x equal y False
is x not equal y  True
MOHAMMED's age is 20.he is student True

In [ ]:
def greet(name):

  return "Hello,"+name+ "!"

my_name=input("enter your name:")
greet(name)

enter your name:fffff

'Hello,ffff!'

In [ ]:
def add_numbers(a,b):
  return a+b

a=eval(input("Enter your first Number"))
b=eval(input("Enter your second Number"))
addition_value= add_numbers(a,b)
print(f"The result of addition for {a},{b},is {addition_value}")

Enter your first Number2.2
Enter your second Number2.2
The result of addition for 2.2,2.2,is 4.4

In [ ]:
message="Hello,Mohammed"
lenth=len(message)
uppercase=message.upper()
lowercase=message.lower()
substring=message[6:14]
print("orginal message: ", message)
print("lenth:",lenth)
print("uppercase message:",uppercase)
print("lowercase message:",lowercase)
print("substring message:",substring)

orginal message:  Hello,Mohammed
lenth: 14
uppercase message: HELLO,MOHAMMED
lowercase message: hello,mohammed
substring message: Mohammed

In [ ]:

last=input("Enter the last name:")
first=input("Enter the first name:")
print(f"the last name {last},the first name:{first}")

Enter the last name:abufifeh
Enter the first name:Mohammed
the last name abufifeh,the first name:Mohammed

In [ ]:
age=int(input("enter your age:"))
print("You will be:",age+1,"years old")

enter your age:20
You will be: 21 years old

In [ ]:
num1=float(input ("the first number:"))
num2=float(input("the second number"))
sum_result=num1+num2
print("sum",sum_result)

the first number:5
the second number2
sum 7.0

In [ ]:
city=input("Enter your city :")
country=input("Enter your country:")
loction=city +","+country
print("your are in",loction)

Enter your city :Aqba
Enter your country:Jordan
your are in Aqba,Jordan

In [ ]:
name,age=input("Enter your name and age:").split()
print("your name is:",name)
print("your age is:",age)

Enter your name and age:mohammed 21
your name is: mohammed
your age is: 21